body {
    background-color: white;
}

h1 {
    font-family: verdana;
    font-size: 1em;
    background-color: purple;
    color: rgb(238, 105, 105);
    text-align: center;
    
}
h2 {
    font-family: Arial;
    font-size: 1.5em;
    background-color: rgb(12, 172, 52);
    color: green;
    text-align: left;
    
}
h3 {
    font-family: Georgia;
    font-size: 1em;
    background-color: rgb(240, 15, 15);
    color: rgb(182, 157, 17);
    text-align: center;
    
}
h4 {
    font-family: Times;
    font-size: 2em;
    background-color: rgb(26, 8, 58);
    color: rgb(73, 60, 192);
    text-align: right;
    
}
h5 {
    font-family: serif;
    font-size: 1em;
    background-color: rgba(119, 153, 38, 0.411);
    color: rgb(247, 9, 187);
    text-align: center;
    
}
h6 {
    font-family: verdana;
    font-size: 1em;
    background-color: rgb(136, 113, 14);
    color: olive;
    text-align: center;
    
}



p {
    font-family: verdana;
    font-size: 20px;
}
ol {
    background: #ff9999;
    padding: 20px;
}

ul {
    background: #3399ff;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
<a href="soul.jpg">
  <img src="soul.jpg" alt="wsoul">
</a>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid red;
}
th {
    background-color: #4CAF50;
    color: white;
}